/* HEADER */

.nav {
  font-size: 20px;
  color: #538f5a;
}

a:link {
  color: #538f5a;
  text-decoration: none;
}

a:visited {
  color: #538f5a;
}

a:hover {
  color: #ac070a;
  text-decoration: underline;
  text-decoration-color: #538f5a;
}

/* Straight linje - HEADER */
hr {
  border-width: 0.5px;
  color: #ac070a;
}

/* Tekst/ MAIN/ALLE SIDER */

body {
  font-family: baskerville-display-pt, serif;
  font-style: normal;
  font-weight: 400;
}

h1 {
  color: #538f5a;
}

/* OM_KRISTINE */

.info {
  font-family: kepler-std-display, serif;
  font-weight: 400;
  font-style: normal;
}

.col2 {
  font-size: 20px;
  line-height: 2rem;
}

.box {
  background-color: #538f5a4f;
}

/* PORTFOLIO */

h2 {
  font-weight: lighter;
  font-size: 300px;
  margin: 100px;
  margin-top: 150px;
}

.right {
  line-height: 2rem;
}

.left {
  line-height: 2rem;
}
/* FORSIDE */
