/* HEADER */

.nav {
  font-size: 20px;
  color: #538f5a;
}

a:link {
  color: #538f5a;
  text-decoration: none;
}

a:visited {
  color: #538f5a;
}

a:hover {
  color: #ac070a;
  text-decoration: underline;
  text-decoration-color: #538f5a;
}

/* Straight linje - HEADER */
hr {
  border-width: 0.5px;
  color: #ac070a;
}

.hrindex {
  margin-top: 100px;
}

/* Tekst/ MAIN/ALLE SIDER */

body {
  font-family: baskerville-display-pt, serif;
  font-style: normal;
  font-weight: 400;
  overflow-x: hidden;
}

h1 {
  color: #538f5a;
  position: relative;
  line-height: 1px;
  font-size: 10rem;
  font-weight: lighter;
  margin-bottom: 0px;
}

/* OM_KRISTINE */

.info {
  font-family: kepler-std-display, serif;
  font-weight: 400;
  font-style: normal;
}

.col1 {
  margin: 4rem;
}

.col2 {
  font-size: 20px;
  line-height: 2rem;
  margin: 4rem;
}

.box {
  background-color: #538f5a4f;
}

.h3 {
  font-weight: 100;
}

/* PORTFOLIO */

h2 {
  font-weight: lighter;
  font-size: 100px;
  margin: 50px;
  margin-top: 10px;
  color: #538f5a85;
}

.right {
  line-height: 2rem;
}

.left {
  line-height: 2rem;
}

.hiddenleft {
  opacity: 0;
  transform: translateX(-100%);
  transition: all 3s;
}

.hiddenright {
  opacity: 0;
  transform: translateX(100%);
  transition: all 3s;
}

.show {
  opacity: 1;
  transform: translateX(0);
}

/* FORSIDE */
.frontpage {
  font-weight: lighter;
  font-size: 5rem;
  margin: 1rem;
  color: #538f5a;
}

.portfolio {
  padding-top: 5rem;
}

@media (min-width: 800px) {
  /*Forside/Generel */

  .position {
    position: relative;
    left: 25rem;
  }

  .position2 {
    position: relative;
    left: 70rem;
    bottom: 13.5rem;
  }

  .position3 {
    position: relative;
    left: 95rem;
    bottom: 13rem;
  }

  /* PORTFOLIO */

  h2 {
    font-weight: lighter;
    font-size: 300px;
    margin: 100px;
    margin-top: 150px;
    color: #538f5a85;
  }
}
